<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EggCameraMac</string>
	<key>CFBundleExecutable</key>
	<string>EggCameraMac</string>
	<key>CFBundleIdentifier</key>
	<string>com.eggcamera.mac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EggCameraMac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>EggCameraMacはiPhoneカメラへの撮影指示とアップロード受信のためにローカルネットワークを使用します。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_eggcamera._tcp</string>
	</array>
	<key>CallbackPort</key>
	<integer>8081</integer>
	<key>CaptureIntervalSeconds</key>
	<integer>0</integer>
	<key>IPhonePort</key>
	<integer>8080</integer>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.photography</string>
	<key>LSUIElement</key>
	<true/>
	<key>PreferredHeight</key>
	<integer>6048</integer>
	<key>PreferredWidth</key>
	<integer>8064</integer>
	<key>SendCaptureOnLaunch</key>
	<true/>
</dict>
</plist>
